* {
	margin: 0;
	padding: 0;
}

.fixed-font {
	font-family: "Courier New";
	font-size: 12pt;
}

*[role="button"] {
	cursor: pointer;
	padding: 0px;
	margin: 0px;
	background-color: #FFFFFF;
	border: 2px solid #FFFFFF;
	text-decoration: underline;
	color: #0000FF;
}

*[role="button"]:hover {
	color: #00FF00;
}

*[role="button"]:active {
	color: #FF0000;
}