html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #888888;
}

input[type="button"], select, div > ol > li, label, table > thead > tr > th, table > tbody > tr > td, input#text-subtitle {
	font-family: "Courier New";
}

input[type="button"], label {
	padding: 0px;
	font-size: 24pt;
}

select#select-source {
	font-size: 16pt;
}

table > tbody > tr {
	vertical-align: top;
}

option {
	padding: 5px;
}

span#text-subtitle {
	padding: 4px;
	text-align: center;
	color: #FFFFFF;
	background-color: rgba(0,0,0,0);
	border-width: 0px;
	font-size: 12pt;
}