@font-face {
	font-family: "braille";
	src: local("braille"), local("braille"), url("../font/braille.ttf") format("opentype");
}

html, body, pre {
	margin: 0px;
	padding: 0px;
}

pre {
	white-space: pre-wrap;
	overflow-y: scroll;
}

label, button, select, input[type="file"] {
	font-size: 18pt;
}

.default-font-size {
	font-size: 18pt;
}

.default-height {
	height: 300px;
}

.default-border {
	border: 1px solid #000000;
}

.braille {
	word-break: break-all;
	font-family: "braille";
	width: 600px;
}

.text {
	font-family: "Courier New";
	width: 400px;
}

.highlighted {
	color: #FFFFFF;
	background-color: #00AA00;
}