html, body {
	margin: 0px;
	padding: 0px;
}

body {
	background-color: #111111;
}

span.white-text {
	color: #ffffff;
}

div.red-border > span {
	display: table-cell;
	border: 1px solid #ff0000;
}

div.red-border > span > textarea {
	display: none;
}

textarea.text, textarea.history {
	font-size: 7pt;
	font-family: "courier new";
}
