@font-face {
	font-family: "OcrA";
	src: local("OcrA"), local("OcrA"), url("../font/ocra.ttf") format("opentype");
}

html, body {
	margin: 0px;
	padding: 0px;
}

label {
	display: none;
}

input#route-filter, input#stop-filter {
	width: 100px;
	font-size: 12pt;
}

select#route-select, select#stop-select {
	font-size: 12pt;
}