html, body {
	margin: 0px;
	padding: 0px;
}

div#transcript-container > div > input[type="text"] {
	font-family: "serif";
	border: 1px solid #ff0000;
}

textarea#export-text {
	font-family: "courier new";
	border: 1px solid #ff0000;
}

body.wb {
	background-color: #eeeeee;
	color: #111111;
}

body.wb > div#transcript-container > div > input[type="text"] {
	background-color: #eeeeee;
	color: #000000;
	text-shadow:
		#ffffff 2px 2px 0
		, #ffffff 2px 1px 0
		, #ffffff 2px 0px 0
		, #ffffff 2px -1px 0
		, #ffffff 2px -2px 0

		, #ffffff 1px 2px 0
		, #ffffff 1px 1px 0
		, #ffffff 1px 0px 0
		, #ffffff 1px -1px 0
		, #ffffff 1px -2px 0

		, #ffffff 0px 2px 0
		, #ffffff 0px 1px 0
		, #ffffff 0px 0px 0
		, #ffffff 0px -1px 0
		, #ffffff 0px -2px 0

		, #ffffff -1px 2px 0
		, #ffffff -1px 1px 0
		, #ffffff -1px 0px 0
		, #ffffff -1px -1px 0
		, #ffffff -1px -2px 0

		, #ffffff -2px 2px 0
		, #ffffff -2px 1px 0
		, #ffffff -2px 0px 0
		, #ffffff -2px -1px 0
		, #ffffff -2px -2px 0
}

body.bw {
	background-color: #111111;
	color: #eeeeee;
}

body.bw > div#transcript-container > div > input[type="text"] {
	background-color: #111111;
	color: #ffffff;
	text-shadow:
		#000000 2px 2px 0
		, #000000 2px 1px 0
		, #000000 2px 0px 0
		, #000000 2px -1px 0
		, #000000 2px -2px 0

		, #000000 1px 2px 0
		, #000000 1px 1px 0
		, #000000 1px 0px 0
		, #000000 1px -1px 0
		, #000000 1px -2px 0

		, #000000 0px 2px 0
		, #000000 0px 1px 0
		, #000000 0px 0px 0
		, #000000 0px -1px 0
		, #000000 0px -2px 0

		, #000000 -1px 2px 0
		, #000000 -1px 1px 0
		, #000000 -1px 0px 0
		, #000000 -1px -1px 0
		, #000000 -1px -2px 0

		, #000000 -2px 2px 0
		, #000000 -2px 1px 0
		, #000000 -2px 0px 0
		, #000000 -2px -1px 0
		, #000000 -2px -2px 0
}
